extends layout

block scripts
	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(type="text/javascript", src='/javascripts/drawRect.js')
	

block content
	h1 Click the rectangle and enter a color in hex to see it change.

	canvas(id="myCanvas", width="300", height="150", style="border:1px solid #d3d3d3;")
	